@use 'reset';
@use 'fonts';

@mixin mainButton() {
	width: 430px;
	min-height: 50px;
	@include fonts.b1();
	background: #4ebd09;
	border: none;
	padding: 14px 15px;
	border-radius: 6px;
	user-select: none;
	cursor: pointer;
	color: #fff;
	position: relative;
	transition: all 0.3s, ease;

	@media (max-width: 750px) {
		width: 100%;
	}

	@media (hover: hover) {
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			inset: 0;
			position: absolute;
			background-color: transparent;
			border-radius: 10px;
			transition: all 1s ease;
		}

		&:hover::before {
			box-shadow: 0 0 15px 5px #4ebd09;
		}
	}
}

* {
	box-sizing: border-box;
}
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0px 25px;
}
.small-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 90px;
}
.row {
	display: flex;
}
body {
	color: #0d1a30;
	font-family: 'Exo 2';
}

// Desktop

.header {
	position: fixed;
	top: 0px;
	z-index: 1000;
	background: white;
	width: 100%;
	padding: 10px 0px;
	border-bottom: 2px solid #f0f0f0;
	.header-row {
		display: grid;
		grid-template-columns: 250px 2fr 300px;
		align-items: center;
		justify-items: center;
		.logo {
			justify-self: start;
			height: 60px;
			> img {
				height: 100%;
			}
		}
		.header-menu {
			.header-menu-item {
				@include fonts.b2();
				margin: 0px 10px;
				cursor: pointer;
				transition: color 0.3s;
				&:hover {
					color: #4ebd09;
				}
			}
		}
		.header-btn {
			min-height: 50px;
			background: transparent;
			border: 2px solid #4ebd09;
			border-radius: 6px;
			padding: 5px 12px;
			color: #4ebd09;
			width: 300px;
			cursor: pointer;
			@include fonts.b1();
			transition: background 0.3s;
			&:hover {
				background: #4ebd0942;
			}
		}
		.burger-menu-btn {
			display: none;
			justify-self: flex-end;
			background-image: url(images/burger-menu-img.svg);
			height: 24px;
			width: 24px;
			transition: background 0.2s;
		}
		.burger-menu-btn.open {
			background-image: url(images/close-img.svg);
		}
	}
	.burger-menu-content {
		height: 0px;
		padding: 0px;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		transition: padding 0.3s;
		.burger-menu-item {
			@include fonts.t1();
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.burger-menu-content.open {
		height: auto;
		padding: 16px 0px;
		opacity: 1;
		visibility: visible;
	}
}

.main {
	.h2-header {
		@include fonts.h2();
		margin-top: 104px;
		margin-bottom: 48px;
		// text-align: center;
	}
	.mobile-registration-btn-wrapper {
		position: fixed;
		width: 100%;
		background: #0d1a30;
		bottom: 0px;
		z-index: 100;
		display: none;
		padding: 15px 16px;
		> button {
			@include mainButton();
			width: 100%;
		}
	}
	.br {
		display: none;
	}
	.check-img {
		min-width: 24px;
		height: 24px;
		background-image: url(images/check-circle.svg);
		margin-right: 8px;
	}

	.introduce-section {
		background: #0d1a30;
		color: #ffffff;
		margin-top: 82px;
		padding-top: 85px;
		padding-bottom: 85px;
		position: relative;
		background-position: 0% 0%;
		.introduce-section-bg {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			background-image: url(images/introduce-section-bg-2.png),
				url(images/introduce-section-logo.png);
			background-position: 0% 100%, 100% 100%;
			background-repeat: no-repeat;
			background-size: auto 100%;
			z-index: 1;
		}
		.introduce-wrapper {
			position: relative;
			z-index: 10;
			.introduce-content-title {
				@include fonts.h1();
				font-size: 68px;
				margin-top: 36px;
				margin-bottom: 20px;
				text-transform: uppercase;
				width: 75%;
				> span {
					white-space: nowrap;
				}
			}
			.introduce-content-subtitle {
				@include fonts.p2();
				margin-bottom: 80px;
				> span {
					color: #4ebd09;
				}
			}
			.heart-img {
				background-image: url(images/ukr-flag-heart.svg);
				background-position: center;
				background-repeat: no-repeat;
				height: 30px;
				min-width: 30px;
			}
			.upper-case {
				text-transform: uppercase;
				font-weight: 500;
				gap: 20px;
				align-items: center;
			}
			.introduce-content-center {
				text-align: center;
				width: 60%;
				margin: 0 auto;
				.introduce-content-date {
					@include fonts.h3();
					margin-top: 40px;
					margin-bottom: 70px;
					background-color: white;
					color: #0d1a30;
					padding: 32px;
					border-radius: 12px;
					> span {
						color: #4ebd09;
					}
				}
			}
			button {
				@include mainButton();
			}
		}
	}
	.who-is-section {
		padding-top: 60px;
		padding-bottom: 60px;
		.who-is-wrapper {
			gap: 32px;
			align-items: center;
			.who-is-header {
				margin-top: 0;
			}
			.who-is-text {
				width: 50%;
				.who-is-text-item {
					@include fonts.t2();
					margin-bottom: 24px;
				}
				.who-is-bold {
					font-weight: 700;
				}
			}
			.who-is-img-wrapper {
				width: 50%;
				text-align: center;
				> img {
					width: 100%;
					max-width: 480px;
				}
				.image-description {
					.bold {
						@include fonts.t1();
					}
					text-align: right;
					@include fonts.t2();
					margin-top: 20px;
					margin-right: 80px;
					span {
						text-wrap: nowrap;
					}
				}
			}
		}
		.who-is-btn-wrapper {
			text-align: center;
		}
		.who-is-btn {
			margin-top: 30px;
			@include mainButton();
			color: #ffffff;
		}
	}
	.suitable-section {
		background: linear-gradient(147.71deg, #f0f5e0 20.89%, #e0f5e3 80.64%);
		padding: 50px 0px;
		.suitable-section-content {
			text-align: center;
			.suitable-btn {
				margin-top: 50px;
				@include mainButton();
			}
		}
		.suitable-section-header {
			@include fonts.h2();
			text-align: center;
			margin-bottom: 50px;
		}
		.suitable-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr 1fr;
			justify-items: center;
			gap: 20px;
			width: 100%;
			.suitable-item {
				width: 100%;
				background-color: #ffffff;
				padding: 20px;
				box-shadow: 0px 67px 27px rgba(63, 105, 72, 0.01),
					0px 38px 23px rgba(63, 105, 72, 0.05),
					0px 17px 17px rgba(63, 105, 72, 0.09),
					0px 4px 9px rgba(63, 105, 72, 0.1), 0px 0px 0px rgba(63, 105, 72, 0.1);
				border-radius: 12px;
				.suitable-item-header {
					align-items: center;
					gap: 20px;
					margin-bottom: 10px;
					> img {
						width: 48px;
						height: 48px;
					}
					> p {
						@include fonts.t1();
						text-align: left;
						color: #4d4d4d;
					}
				}
				> div:nth-child(2) {
					line-height: 145%;
					text-align: left;
					margin-left: 20px;
				}
			}
		}
		.suitable-slider {
			display: none;
		}
		.suitable-slider-mobile {
			display: none;
		}
	}
	.sign-up-section {
		padding: 48px 0px;
		text-align: center;
		background: #0d1a30;
		.sign-up-btn {
			@include mainButton();
		}
	}
	.schedule-section {
		padding: 100px 0px;
		.schedule-header {
			@include fonts.h2();
			height: auto;
			margin-bottom: 50px;
			text-align: center;
		}
		.schedule-section-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			> p:nth-child(1) {
				@include fonts.h3();
				width: 330px;
				justify-self: center;
			}
			.schedule-section-menu {
				max-width: 600px;
				justify-self: end;
				margin-top: -20px;
				.schedule-section-item-wrapper {
					padding: 24px 0px;
					background-color: #ffffff;
					user-select: none;
					cursor: pointer;
					.schedule-section-item {
						align-items: center;
						justify-content: space-between;
						cursor: pointer;
						> div:nth-child(1) {
							align-items: center;
							> img {
								margin-right: 20px;
							}
							> p {
								@include fonts.t1();
							}
						}
						.schedule-section-item-btn {
							height: 24px;
							width: 24px;
							border: none;
							background-color: transparent;
							background-image: url(images/benefits-section-arrow-down-img.svg);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 100%;
							transition: 0.3s all;
						}
						.active-btn {
							background-image: url(images/benefits-section-arrow-up-img.svg);
						}
					}
				}
				.schedule-section-subitem {
					line-height: 145%;
					height: 45px;
					margin-top: -45px;
					margin-left: 44px;
					margin-right: 40px;
					opacity: 0;
					visibility: hidden;
					transition: margin 0.3s;
					z-index: -1;
				}
				.active {
					opacity: 1;
					visibility: visible;
					margin-top: -10px;
					margin-bottom: 20px;
					height: auto;
					.schedule-item-header {
						margin-top: 15px;
						margin-bottom: 10px;
					}
				}
				.schedule-section-item-line {
					border-bottom: 1px solid #4d4d4d;
				}
			}
		}
	}
	.tariffs-section {
		padding: 50px 0px;
		background: linear-gradient(147.71deg, #f0f5e0 20.89%, #e0f5e3 80.64%);
		.tariffs-header {
			@include fonts.h2();
			text-align: center;
			margin-bottom: 50px;
		}
		.tariffs-wrapper {
			gap: 20px;
		}
		.tariff-item {
			flex-direction: column;
			justify-content: space-between;
			background: white;
			box-shadow: 0px 67px 27px rgba(63, 105, 72, 0.01),
				0px 38px 23px rgba(63, 105, 72, 0.05),
				0px 17px 17px rgba(63, 105, 72, 0.09),
				0px 4px 9px rgba(63, 105, 72, 0.1), 0px 0px 0px rgba(63, 105, 72, 0.1);
			border-radius: 12px;
			padding: 30px 30px;
			width: 33%;
			.tariff-text-center {
				text-align: center;
				.tariff-header {
					@include fonts.p2();
					color: #4ebd09;
					margin-bottom: 10px;
					text-transform: uppercase;
				}
				.tariff-description {
					@include fonts.t3();
				}
			}
			.vertical-line {
				height: 1px;
				width: 100%;
				margin-top: 20px;
				margin-bottom: 20px;
				background-color: #d9d9d9;
			}
			.tariff-item-subtitle {
				@include fonts.t1();
				margin-bottom: 40px;
			}
			.tariff-plus-img {
				background-image: url(images/tariffs-plus-img.svg);
				background-position: center;
				background-repeat: no-repeat;
				height: 10px;
				min-width: 10px;
				margin-top: 7px;
			}
			.tariff-text-item {
				gap: 10px;
				align-items: start;
				margin-bottom: 10px;
				> p {
					line-height: 140%;
				}
			}
			.price-and-discont {
				display: flex;
				flex-direction: column;
				gap: 5px;
				align-items: center;
			}
			.line-through {
				@include fonts.t1();
				text-decoration: line-through;
				color: #fa2702;
				.tariff-price {
					color: #989898;
					@include fonts.t1();
				}
			}
			.tariff-discont {
				@include fonts.t1();
				color: #fa2702;
				font-weight: 400;
			}
			.tariff-price {
				@include fonts.t1();
				font-weight: 700;
				color: #4ebd09;
			}
		}
		.button-wrapper {
			text-align: center;
			margin-top: 50px;
			.tariffs-btn {
				@include mainButton();
			}
		}
	}
	.form-section {
		background: #0d1a30;
		color: #ffffff;
		padding: 48px 0px;
		.form-section-wrapper {
			align-items: center;
			gap: 32px;
			.form-section-text {
				width: 50%;
				height: 100%;
				flex-direction: column;
				justify-content: space-between;
				> p:nth-child(1) {
					@include fonts.h2();
					margin-bottom: 32px;
				}
				.green-text {
					@include fonts.p2();
					color: #4ebd09;
				}
				.form-section-text-hide-tablet {
					span {
						color: #4ebd09;
					}
				}
			}
			.form {
				width: 50%;
				background: #ffffff;
				border-radius: 12px;
				padding: 32px;
				color: #0d1a30;
				.form-input {
					flex-direction: column;
					gap: 8px;
					margin-bottom: 8px;
					transition: 0.3s all;
					label {
						@include fonts.b2();
					}
					input {
						@include fonts.t2();
						border: 1px solid #0d1a30;
						border-radius: 6px;
						padding: 13px 50px;
						caret-color: #4ebd09;
						width: 100%;
						&:focus {
							outline-color: #4ebd09;
						}
					}
					&:focus-within {
						color: #4ebd09;
					}
				}
				.form-phone-input {
					margin-bottom: 0;
				}
				button {
					@include mainButton();
					margin-top: 24px;
					color: #ffffff;
				}
			}
		}
	}
}

.footer {
	padding: 48px 0px;
	background: #0d1a30;
	color: #ffffff;
	text-align: center;
	border-top: 1px solid #f0f0f0;
	.footer-wrapper {
		justify-content: space-around;
		@include fonts.t4();
		margin-bottom: 32px;
	}
	.footer-btn {
		@include mainButton();
		margin-bottom: 32px;
	}
	.footer-buttons {
		button {
			width: 26px;
			height: 26px;
			border: none;
			margin-right: 12px;
			cursor: pointer;
			background: transparent;
			background-size: cover;
			transition: 0.3s all;
			&:hover {
				transform: scale(1.2);
			}
		}
		.facebook-btn {
			background-image: url(images/facebook.svg);
		}
		.linkedin-btn {
			background-image: url(images/linkedin.svg);
		}
		.instargam-btn {
			background-image: url(images/Instagram.svg);
		}
		.telegram-btn {
			background-image: url(images/telegram.svg);
		}
	}
}

// For suitable section
@media (max-width: 1250px) {
	.main {
		.suitable-section {
			.suitable-wrapper {
				justify-content: center;
				.suitable-item {
					width: auto;
					height: auto;
				}
			}
		}
	}
}

// Laptop
@media (max-width: 1200px) {
	.header {
		.header-row {
			grid-template-columns: 150px 1fr 300px;
		}
	}

	.main {
		.introduce-section {
			.logo {
				margin-bottom: 30px;
			}
			.introduce-wrapper {
				.introduce-content-title {
					font-size: 52px;
				}
				.introduce-content-center {
					width: 75%;
				}
			}
		}
		.benefit-section {
			.benefit-wrapper {
				.benefit-item {
					padding: 0px 5px;
				}
			}
		}
		.numbers-section {
			.numbers-header {
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}
}

// Tablet
@media (max-width: 992px) {
	.container {
		padding: 0px 16px;
	}

	.header {
		.header-row {
			grid-template-columns: 1fr 1fr;
			justify-content: space-between;
			.logo {
				height: 50px;
			}
			.header-menu,
			.header-btn {
				display: none;
			}
			.burger-menu-btn {
				display: block;
			}
		}
	}

	.main {
		.h2-header {
			@include fonts.h3();
			margin-top: 72px;
			margin-bottom: 32px;
			text-align: left;
		}
		.br {
			display: block;
		}
		.introduce-section {
			margin-top: 72px;
			padding: 48px 0px;
			.introduce-section-bg {
				background-image: url(images/introduce-section-bg-2.png);
			}
			.logo {
				margin-bottom: 26px;
			}
			.introduce-wrapper {
				display: block;
				.introduce-content-title {
					font-size: 50px;
					width: 100%;
					margin-bottom: 36px;
				}
				.introduce-content-center {
					width: 100%;
				}
			}
		}
		.who-is-section {
			.who-is-wrapper {
				flex-direction: column;
				align-items: center;
				.who-is-text {
					width: 100%;
				}
				.who-is-scales {
					width: 100%;
				}
				.who-is-img-wrapper {
					width: 100%;
					text-align: center;
					> img {
						max-width: 500px;
					}
					.image-description {
						width: fit-content;
						margin: 0 auto;
						margin-top: 20px;
						text-align: left;
					}
				}
				.who-is-desktop-content {
					display: none;
				}
				.who-is-tablet-content {
					display: block;
				}
			}
		}
		.suitable-section {
			.suitable-section-header {
				@include fonts.h2();
				text-align: center;
				margin-bottom: 50px;
			}
			.suitable-wrapper {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: repeat(3, 1fr);
				gap: 10px;
				.suitable-item {
					padding: 8px;
					.suitable-item-header {
						gap: 9px;
						> img {
							width: 32px;
							height: 32px;
						}
						> p {
							font-weight: 500;
						}
					}
					> div:nth-child(2) {
						font-size: 14px;
						line-height: 145%;
					}
				}
			}
			.suitable-section-content {
				.suitable-btn {
					margin-top: 30px;
					@include mainButton();
				}
			}
			.suitable-slider {
				display: none;
			}
			.suitable-slider-mobile {
				display: none;
			}
		}
		.schedule-section {
			padding: 50px;
			.schedule-section-content {
				grid-template-columns: 1fr;
				gap: 0;
				> p:nth-child(1) {
					width: 100%;
					text-align: center;
					margin-bottom: 24px;
				}
				.schedule-section-menu {
					justify-self: center;
					margin-top: 0;
				}
			}
		}
		.tariffs-section {
			.tariffs-wrapper {
				flex-direction: column;
				align-items: center;
				.tariff-item {
					width: 100%;
					max-width: 500px;
				}
			}
		}
		.form-section {
			.form-section-wrapper {
				flex-direction: column;
				.form-section-text {
					width: 100%;
					.form-section-text-hide-tablet {
						display: none;
					}
					> p:nth-child(1) {
						@include fonts.p2();
						margin-bottom: 32px;
					}
				}
				.form {
					width: 70%;
					button {
						width: 100%;
					}
				}
			}
		}
	}
	.footer {
		.footer-wrapper {
			flex-direction: column;
			gap: 32px;
		}
	}
}

// Mobile
@media (max-width: 576px) {
	.header {
		.header-row {
			.logo {
				height: 40px;
			}
		}
	}

	.main {
		.h2-header {
			margin-top: 42px;
		}
		.mobile-registration-btn-wrapper {
			display: block;
			transition: all 0.3s;
		}
		.mobile-registration-btn-wrapper.show {
			visibility: visible;
			opacity: 1;
		}
		.mobile-registration-btn-wrapper.hide {
			visibility: hidden;
			opacity: 0;
		}
		.introduce-section {
			padding-top: 24px;
			margin-top: 62px;
			.introduce-section-bg {
				background-image: url(images/introduce-section-bg.png);
				background-size: cover;
				background-position: right;
			}
			.logo {
				margin-bottom: 20px;
				> img {
					height: 60px;
				}
			}
			.introduce-wrapper {
				.introduce-content {
					.introduce-content-subtitle {
						font-size: 21px;
					}
					.introduce-content-title {
						font-size: 24px;
						margin-top: 16px;
						margin-bottom: 16px;
					}
					.introduce-content-subtitle {
						margin-bottom: 26px;
						font-size: 18px;
						line-height: 28px;
					}
					.introduce-content-date {
						@include fonts.p2();
						margin-top: 20px;
						margin-bottom: 30px;
						padding: 16px 20px;
					}
					button {
						@include fonts.b2();
						width: 100%;
					}
				}
			}
		}
		.who-is-section {
			padding-top: 40px;
			.who-is-header {
				text-align: left;
			}
			.who-is-wrapper {
				.who-is-text {
					> p:nth-child(1) {
						margin-bottom: 32px;
					}
					> p:nth-child(2) {
						margin-bottom: 16;
					}
				}
				.who-is-img-wrapper {
					.image-description {
						width: 100%;
						margin: 0;
						margin-top: 20px;
					}
				}
			}
			.who-is-btn {
				width: 100%;
			}
		}
		.suitable-section {
			padding-top: 32px;
			padding-bottom: 0;
			margin-bottom: 32px;
			.suitable-section-header {
				@include fonts.p2();
				text-align: left;
				margin-bottom: 16px;
			}
			.suitable-wrapper {
				display: none;
			}
			.suitable-slider {
				display: block;
				margin-bottom: 0;
				.suitable-item {
					min-height: 140px;
					padding: 10px;
					padding-bottom: 16px;
					background-color: #ffffff;
					box-shadow: 0px 82px 33px rgba(15, 13, 28, 0.01),
						0px 46px 28px rgba(15, 13, 28, 0.05),
						0px 21px 21px rgba(15, 13, 28, 0.09),
						0px 5px 11px rgba(15, 13, 28, 0.1),
						0px 0px 0px rgba(15, 13, 28, 0.1);
					border-radius: 12px;
					margin-right: 8px;
					margin-bottom: 120px;
					.suitable-item-header {
						gap: 9px;
						align-items: center;
						> img {
							width: 32px;
							height: 32px;
						}
						> p {
							font-weight: 600;
							line-height: 19px;
							color: #4d4d4d;
						}
					}
					> div:nth-child(2) {
						font-weight: 400;
						font-size: 14px;
						line-height: 145%;
						text-align: left;
						margin-left: 16px;
						margin-top: 8px;
					}
				}
				.slick-dots {
					bottom: 35px;
				}
				.slick-dots li {
					margin: 0px 0px;
				}
				.slick-dots li.slick-active button:before {
					color: #333142;
				}
				.slick-dots li button:before {
					color: #989898;
					opacity: 1;
				}
				.slick-track {
					transform: translate3d(-30px, 0px, 0px);
				}
			}
			.suitable-section-content {
				position: relative;
				.suitable-btn {
					position: absolute;
					bottom: -35px;
					left: 50%;
					transform: translateX(-50%);
					width: 94%;
				}
			}
		}
		.sign-up-section {
			f button {
				width: 100%;
				@include fonts.b2();
			}
		}
		.schedule-section {
			padding: 48px 0px;
			.schedule-header {
				@include fonts.p2();
				text-align: left;
				margin-bottom: 14px;
			}
			.schedule-section-content {
				> p:nth-child(1) {
					text-align: left;
					@include fonts.t1();
				}
				.schedule-section-menu {
					.schedule-section-item-wrapper {
						.schedule-section-item {
							> div:nth-child(1) {
								> img {
									width: 16px;
									height: 16px;
									margin-right: 16px;
								}
								> p {
									@include fonts.b2();
								}
							}
						}
					}
					.schedule-section-subitem {
						font-size: 14px;
						line-height: 145%;
						margin-left: 33px;
						height: 45px;
					}
					.schedule-section-subitem.active {
						height: auto;
					}
				}
			}
		}
		.tariffs-section {
			padding: 32px 0px;
			.tariffs-header {
				margin-bottom: 16px;
				@include fonts.p2();
			}
			.tariff-item {
				padding: 16px;
				.tariff-text-center {
					.tariff-header {
						@include fonts.p2();
						margin-bottom: 8px;
					}
					.tariff-description {
						line-height: 19px;
					}
				}
				.vertical-line {
					margin-top: 16px;
					margin-bottom: 16px;
				}
				.tariff-text-item {
					gap: 8px;
					> p {
						font-weight: 400;
						font-size: 14px;
						line-height: 17px;
					}
				}
				.price-and-discont {
					justify-content: space-between;
				}
				.line-through {
					@include fonts.t1();
					font-weight: 500;
					.tariff-price {
						@include fonts.t1();
						font-weight: 500;
					}
				}
				.tariff-discont {
					@include fonts.t1();
					font-weight: 400;
				}
			}
			.button-wrapper {
				margin-top: 24px;
				.tariffs-btn {
					width: 100%;
				}
			}
		}
		.form-section {
			.form-section-wrapper {
				gap: 24px;
				.form {
					width: 100%;
					background: transparent;
					color: #ffffff;
					padding: 0px;
					button {
						@include fonts.b2();
						color: #0d1a30;
					}
				}
			}
		}
	}
	.footer {
		.footer-btn {
			width: 100%;
		}
		.footer-buttons {
			button {
				width: 40px;
				height: 40px;
			}
		}
	}
}
